{% extends "tradewave/base.html" %}

{% block title %} {{ entity_name }} {% endblock %}

{% block content %}

  <script src="https://d3js.org/d3.v3.min.js"></script>

  <style>

  .chart rect {
    fill: steelblue;
  }

  .chart text {
    fill: white;
    font: 10px sans-serif;
    text-anchor: end;
  }

  </style>

  <section id="intro">
    {% if entity_marketplace %}
      <form method="post" action="{% url 'tradewave:export_data' %}">
        {% csrf_token %}
        <div class="row half">
          <div class="3u">
            <br>
          </div>

          <div class="3u">
            <select name="market_venue" class="text">
              {% for market_venue in market_venues %}
                  <option class="text" value="{{market_venue}}"> {{market_venue}} </option>
              {% endfor %}
            </select>
          </div>

          <div class="3u">
            <select name="market_date" class="text">
              {% for market_date in market_dates %}
                  <option class="text" value="{{market_date}}"> {{market_date}} </option>
              {% endfor %}
            </select>
          </div>
        </div>

        <div class="row half">
          <div class="12u">
            <input type="submit" class="button button-style1 button-big" id="button_qr_login" value="Export Market Data"/>
            <!--a href="{% url 'tradewave:export_data' %}" class="button button-style1 button-big"> Export Market Data  </a-->
          </div>
        </div>
      </form>
    {% endif %}

    <div class="row half">
      <div class="12u">
        <p class="style3">
          Your Account Transactions:
        </p>
      </div>
    </div>
    <svg class="chart"></svg>

    <script>
      // TODO: Make this a reactive select element to allow the user
      // to choose whether to display the dashboard for their personal
      // or entity accounts
      var arraySpentReceivedUrls;
      {% if account_entity_id %}
        arraySpentReceivedUrls = [
          "{% url 'tradewave:transactions-spent' account_entity_id %}",
          "{% url 'tradewave:transactions-received' account_entity_id %}"
        ];
      {% else %}
        arraySpentReceivedUrls = [
          "{% url 'tradewave:transactions-spent' account_personal_id %}",
          "{% url 'tradewave:transactions-received' account_personal_id %}"
        ];
      {% endif %}
      arraySpentReceivedUrls.forEach(function (tr_url) {
        var width = 420,
            barHeight = 20;

        var x = d3.scale.linear()
            .range([0, width]);

        var chart = d3.select(".chart")
            .attr("width", width);

        d3.csv(tr_url, function(error, data) {
          x.domain([0, d3.max(data, function(d) { return Number(d.amount) + 20; })]);
          chart.attr("height", barHeight * data.length);

          var bar = chart.selectAll("g")
              .data(data)
            .enter().append("g")
              .attr("transform", function(d, i) { return "translate(0," + i * barHeight + ")"; });

          bar.append("rect")
              .attr("width", function(d) { return x(d.amount); })
              .attr("height", barHeight - 1)
              .style("fill", function (d) {
                if (Number(d.transact_to) === {{ account_entity_id }}) {
                  console.log(d.transact_to + '=>' + d.transact_from);
                  return "lightsteelblue";
                }
                else {
                  console.log(d.transact_to + '=>' + d.transact_from);
                  return "lightsalmon";
                }
              });

          bar.append("text")
              .attr("x", function(d) { return x(d.amount) + 30; })
              .attr("y", barHeight / 2)
              .attr("dy", ".35em")
              .text(function(d) { return d.amount; });
        });

      });

      function type(d) {
        d.amount = +d.amount; // coerce to number
        return d;
      }
    </script>

    <!--script>
      d3.select(".chart")
        .selectAll("div")
        .csv("http://localhost:8000/transaction-logs/entity/spent/2/?before=1468224984&after=1467879384")
        .enter().append("div").
        .style
    </script-->

  </section>
{% endblock %}
