<!-- Footer Wrapper -->
<div class="row center">
  <h4>Our Mission: <span class="lead">An Economy of Abundance</span></h4>
</div>
<div class="row">
  <div class="medium-9 large-8 small-centered columns">
    <p>Right now there are 23 homes on the market for every homeless person. Just one example of an economy gone awry.
    </p>
    <p>TradeWave is working to bring about an <strong>economic revolution</strong>: a way of doing business that works for <strong>people</strong> and the <strong>planet</strong>, not just <strong>profit</strong>.</p>
    <p>The first step is to create a platform of commerce that promotes abundance and connects people rather than rewarding greed and scarcity.
    </p>
    <div class="one-margin-top small-6 columns no-padding">
      <h3 class="fa fa-envelope">
        Email
      </h3>
      <p> <strong><a class="white" href="mailto:darrell@tradewave.co" target="_blank"> darrell@tradewave.co </a></strong> </p>
    </div>

    <div class="one-margin-top small-6 columns right no-padding">
      <h3 class="fa fa-phone">
        Phone
      </h3>
      <p> <strong> 512-417-6175 </strong> </p>
    </div>
  </div>



    <hr />
</div>

<!-- /Footer -->

<!-- Copyright -->
<div id="copyright" class="row center">
  <span>
    &copy; Trade Wave Technologies, LLC 2014-2016.
  </span>
</div>
<!-- /Copyright -->
