<html>
	<head>
        <script src="{% static "fonts/FontAwesome.otf" %}"></script>
        <script src="{% static "fonts/fontawesome-webfont.eot" %}"></script>
        <script src="{% static "fonts/fontawesome-webfont.svg" %}"></script>
		<script src="{% static "fonts/fontawesome-webfont.woff" %}"></script>
        <script src="{% static "fonts/fontawesome-webfont.woff2" %}"></script>
        <script src="{% static "fonts/fontawesome-webfont.ttf" %}"></script>
		
		</head>
<body>
<!-- Footer Wrapper -->
<div id="footer-wrapper" class="wrapper">
  <div class="title">Our Mission</div>
  <div class="container">
    <div class="row">
      <div class="12u">

        <!-- Footer -->
        <div id="footer">
          <header class="style1">
            <h2>An Economy of Abundance</h2>
            <p class="byline">
              Right now there are 23 homes on the market for every homeless person.<br />
              Just one example of an economy gone awry.
            </p>
            <p class="style3"><br/>
              Trade Wave is working to bring about an <strong>economic revolution</strong>;<br/>
               a way of doing business that works for <strong>people</strong> and the <strong>planet</strong> and not just <strong>profit</strong>.<br/>
               The first step is to create a platform of commerce that promotes abundance<br/>
               and connects people rather than rewarding greed and scarcity.</p>
            <section class="feature-list small">
              <div class="row">
                <div class="6u 12u(mobile)">
                  <section>
                   <h3 class="icon fa-envelope">
                     Email
                   </h3>
                   <p> <strong> darrell@tradewave.co </strong> </p>
                 </section>
                </div>

                <div class="6u 12u(mobile)">
                  <section>
                   <h3 class="icon fa-phone">
                     Phone
                   </h3>
                   <p> <strong> 512-417-6175 </strong> </p>
                 </section>
                </div>
              </div>
            </section>
          </header>
          <hr />
        </div>
        <!-- /Footer -->

        <!-- Copyright -->
        <div id="copyright">
          <span>
            &copy; Endeavor Marketing Solutions 2014-2016. Design by <a href="http://html5up.net/">HTML5 UP</a>.
          </span>
        </div>
        <!-- /Copyright -->

      </div>
    </div>
  </div>
</div>
<!-- /Footer Wrapper -->
</body>
</html>