{% extends "tradewave/base.html" %}

{% block title %} Log in {% endblock %}

{% block content %}
  <section id="intro">
    <!-- Login Form -->
    <form method="post" action="{% url "tradewave:process_login" %}">
      {% csrf_token %}
      <div class="row">
        <div class="medium-8 small-centered columns ">
          <input type="text" class="text" name="user_name" id="user-email" placeholder="Email / Username" />
        </div>
      </div>
      <div class="row">
        <div class="medium-8 small-centered columns">
          <input type="password" class="text" name="user_password" id="user-password" placeholder="Password" />
        </div>
      </div>
      <div class="row center">
        <input type="submit" class="button" value="Login" />
      </div>
    </form>
    <!-- /Login Form -->

  </section>
{% endblock %}
