{% extends "tradewave/base.html" %}

{% block title %} Create New User {% endblock %}

{% block content %}
  <section id="intro">
    <!-- User Form -->
    <form method="post" action="{% url 'tradewave:create_user' %}">
      {% csrf_token %}

      <div>
        <div class="row">
          <div class="12u">
          <p>Name and Email </p>
          </div>
          <div>
            <input type="text" required class="text" name="user_firstname" id="user-fname" placeholder="First Name" />
          </div>
          <div>
            <input type="text" required class="text" name="user_lastname" id="user-lname" placeholder="Last Name" />
          </div>
          <div>
            <input type="email" required class="text" name="user_email" id="user-email" placeholder="Email" />
          </div>
        </div>

        <div class="row">
          <div>
          <p>Password and PIN</p>
          </div>
          <div>
            <input type="password" required class="text" name="user_password" id="user-password" placeholder="Password" />
          </div>
          <div>
            <input type="password" required class="text" name="user_password_confirm" id="user-password-confirm" placeholder="Confirm password" />
          </div>
          <div>
            <input type="password" required class="text" name="user_pin" id="user-pin" placeholder="PIN" />
          </div>
          <div>
            <input type="password" required class="text" name="user_pin_confirm" id="user-pin-confirm" placeholder="Confirm PIN" />
          </div>
        </div>

        <div class="row">
          <div>
            <input type="submit" class="button large" value="Create" />
          </div>
        </div>
      </div>
    </form>
    <!-- /User Form -->

  </section>
{% endblock %}
