{% extends "tradewave/base.html" %}

{% block title %} Redeem Credits {% endblock %}

{% block content %}
  <section id="intro">
    <h2> Pick vendor(s) to redeem credits for: </h2>

    <!-- Login Form -->
    <form method="post" action="{% url 'tradewave:redeem_credits'%}">
      {% csrf_token %}
      <div>
        <div class="row half">
          <div class="3u">
            </br>
          </div>
        </div>

        <div class="feature-list">
          <div class="row">
            {% for vendor_account_id, vendor_data in all_vendors.iteritems %}
              {% if vendor_data.amount_total %}
                <div class="3u 12u(mobile)">
                  </br>
                </div>
                <div class="3u 12u(mobile)" align="left">
                  <input type="checkbox" name="vendors" value="{{vendor_account_id}}"> {{vendor_data.name}}:
                </div>
                <div class="2u 12u(mobile)">
                  <strong>{{vendor_data.amount_total}}</strong>
                </div>
                <div class="5u 12u(mobile)">
                  </br>
                </div>
              {% endif %}
            {% endfor %}
          </div>
        </div>

        <ul class="actions actions-centered">
          <li>
            <input type="submit" class="button button-style1 button-big" value="Redeem" />
          </li>
          <li>
            <a href="{% url 'tradewave:marketplace-home'%}" class="button button-style1 button-big">Cancel</a>
          </li>
        <ul>

      </div>
    </form>
    <!-- /Login Form -->

  </section>
{% endblock %}
