{% extends "tradewave/base.html" %}

{% block title %} Issue Credits {% endblock %}

{% block content %}
  <section id="intro">
    <div class="row">
      <div class="1u">
        </br>
      </div>
      <div class="4u">
        <a href="{% url 'tradewave:marketplace-issue-new' status_msg=''%}" class="button button-style1 button-big">New User</a>
      </div>
      <div class="4u">
        <a href="{% url 'tradewave:marketplace-issue-login' %}" class="button button-style1 button-big">Existing User</a>
      </div>

  </section>
{% endblock %}
