{% extends "tradewave/base.html" %}

{% block title %}
  Marketplace {{ name }} 
  <h5 class="half-margin-top">Choose location:</h5>
{% endblock %}

{% block content %}
  <section id="intro">

    {% for featured_venue in featured_venues %}
    <div class="row half-margin-bottom">
      <div class="medium-10 small-centered columns">
        <a href="/record_venue/{{ featured_venue.id }}" class="button full-width">
          {{ featured_venue.name }}
        </a>
      </div>
    </div>
    {% endfor %}

  </section>
{% endblock %}
