{% extends "tradewave/base.html" %}

{% block title %} Marketplace {{ name }} {% endblock %}

{% block content %}
  <section id="intro">
    <div class="row">
      <a href="{% url 'tradewave:marketplace-issue' %}" class="button">
        Issue Credits
      </a>
    </div>

    <div class="row">
      <a href="{% url 'tradewave:marketplace-redeem' %}" class="button">
        Redeem Credits
      </a>
    </div>

    <div class="row">
      <a href="{% url 'tradewave:dashboard' %}" class="button">
        View Dashboard
      </a>
    </div>

    <div class="row">
      <a href="{% url 'tradewave:create-vendor' %}" class="button">
        Add New Vendor
      </a>
    </div>
  </section>
{% endblock %}
