{% extends "tradewave/base.html" %}

{% block title %} Existing User Login {% endblock %}

{% block content %}
  {% include "tradewave/script-qr.html" %}
  
  <section id="intro">

    <!-- Login Form -->
    <!-- change / adapt the action link to issuing credits -->
    <form method="post" action="{% url 'tradewave:process_cust_login' login_reason='issue_credit' %}">
      {% csrf_token %}
      <div id="cust-login-form">

        <div class="row">
          <div class="medium-8 small-centered columns">
            <input type="text" class="text" name="cust_name" id="user-email" placeholder="Email" />
          </div>
        </div>
        <div class="row">
          <div class="medium-8 small-centered columns">
            <input type="password" class="text" name="cust_password" id="user-password" placeholder="Password" />
          </div>
        </div>
        <div class="row center">
          <input type="submit" class="button" value="Login" />
          <a id="btn_start" class="button">Scan Card</a>
        </div>
      </div>
      
      <!-- QR Reader Wrapper -->
      <div class="row">
        <div class="small-centered columns">
          <!--p class="style1"> Or scan card: </p-->
          <!-- Web Cam to Scan QR Codes-->
          <div class="center" style="width: 350px; height: 350px;" id="qrcodebox">
          </div>
          <!--p>
            Last QRCode value: <span id="qrcode_result">none</span>
          </p-->
          <!--End of WebCam TO Scan QR Codes -->
        </div>
      </div>

      <div class="row">
        <div class="12u">
          <p class="style1" id="qr_status"> </p>
        </div>
      </div>

      <div class="row">
        <div class="3u">
          <input type="hidden" class="text" name="cust_qr_string" id="qr_string" value="" readonly>
        </div>
      </div>

      <div class="row">
        <p id="label_qr_pin" class="style1" style="visibility:hidden"> Enter your pin: </p>
      </div>

      <div class="row">
        <div class="small-6 medium-4 small-centered columns">
          <input type="password" class="text" name="cust_pin" id="qr_pin" value="" style="visibility:hidden" size=4 maxlength=4>
        </div>
      </div>

      <div class="row">
        <input type="submit" class="button" id="button_qr_login" value="Enter" style="visibility:hidden"/>
      </div>

      <div class="row">
        <div class="12u">
          <input type="hidden" class="text" name="tr_amount" id="product-amount" value="{{ tr_amount }}" readonly>
        </div>
      </div>
      <!-- /QR Reader Wrapper -->
    </form>
    <!-- /Login Form -->

  </section>
{% endblock %}
