<script>
(function($){
  $('document').ready(function(){
    $('#qrcodebox').WebcamQRCode({
      onQRCodeDecode: function( p_data ) {
        //window.alert("QR Code read: " + p_data);
        //$('#qrcode_result').html( p_data );
        document.getElementById("qr_status").innerHTML="<strong> Code scanned </strong>";
        document.getElementById("qr_string").value=p_data;
        document.getElementById("qr_pin").style.visibility="visible";
        document.getElementById("label_qr_pin").style.visibility="visible";
        document.getElementById("button_qr_login").style.visibility="visible";
      }
    });

    $('#btn_start').click(function() {
      document.getElementById("cust-login-form").style.display="none";
      $('#qrcodebox').WebcamQRCode().start();
    });

    $('#btn_stop').click(function() {
      $('#qrcodebox').WebcamQRCode().stop();
    });
  });
})(jQuery);
</script>

<!--script type="text/javascript">
  $('#reader').html5_qrcode(
    function(data) {
      // do something when code is read
      document.getElementById("qr_status").innerHTML="<strong> QR code scanned </strong>";
      document.getElementById("qr_string").value=data;
      document.getElementById("qr_pin").style.visibility="visible";
      document.getElementById("label_qr_pin").style.visibility="visible";
      document.getElementById("button_qr_login").style.visibility="visible";
      //window.alert("QR Code read: " + data);
    },
    function(error){
      //show read errors
      window.alert(error);
    },
    function(videoError){
      //the video stream could be opened
      window.alert(videoError);
    }
  );
</script-->
