{% extends "tradewave/tw-main.html" %}

    {% block js-page %}
        <script src="{% static "js/chartjs/Chart.min.js" %}"></script>
    {% endblock page-js %}
	
    {% block page-title %}
        <!--- Current User or Entity Name --->
    {% endblock page-title %} 


	
    {% block page-contents %}
            <div id="intro-wrapper" class="wrapper wrapper-style1">
                <div class="title">Home</div>
                <div class="container">
                    <div class="row">
                        <div class="12u">
                            
                            <!-- Intro -->
                                <section id="intro">
                                    <p class="style1">Use TradeWave to make purchases from your favorite vendors.</p>
                                    <p class="style1">Total Balance: ${{ amount }}</p>
									<!-- Show 3 largest Credit Balances -->
                                    <ul class="actions">
                                        {% for credit in credits %}
                                        <li>{{ credit }} </li>
                                        {% endfor %}
                                    </ul>
									<!-- "View More" button goes here if neccesary -->
									
									<!-- Notifications -->
									<!-- Eventually we can push important messages to the user or entity here. 
									
									<!-- Actions -->
									<!-- All actions that the user or entity might take -->
                                        <ul class="actions">
                                            <li><a href="/send/" class="button button-style3 button-big">Make a Purchase</a></li>
                                        </ul>
                                </section>
                            <!-- /Intro -->                            
                        </div>
                    </div>
                </div>
            </div>
    {% endblock page-contents %}
