{% extends "tradewave/tw-main.html" %}

    {% block page-title %}
        Confirm
    {% endblock page-title %} 


    {% block page-contents %}
    <div class="row">
        <div class="12u">
            <!-- Intro -->
                <section id="intro">
                    <p class="style1">
                        {% block confirm-question %}
                        Proceed?
                        {% endblock confirm-question %}
                    </p>

                    <form method="post" action="{% url "tradewave:process_confirmation" %}">
                        {% csrf_token %}

                        <ul class="actions">
                            <li>
                                <input type="submit" class="button button-style3 button-big" value="confirm-accept" />
                                    {% block confirm-text-accept %}
                                    Accept
                                    {% endblock confirm-text-accept %}
                            </li>
                            <li>
                                <input type="submit" class="button button-style4 button-big" value="confirm-reject" />
                                    {% block confirm-text-accept %}
                                    Reject
                                    {% endblock confirm-text-accept %}
                            </li>
                        </ul>
                    </form>
                </section>
            <!-- /Intro -->                            
        </div>
    </div>
