{% extends "tradewave/base.html" %}

{% block title %} Personal account {% endblock %}

{% block content %}
<section id="intro">
  <p class="style1">Account summary:</p>
    <div>
      {% if user_total > 0 %}
        <!-- list credit in account -->
        {% for credit, amount in user_credits.items %}
          <div class="row half">
            <div class="3u">
              <p></p>
            </div>
            <div class="3u">
              <p class="style1"> {{ credit }}: </p>
            </div>
            <div class="3u">
              <p class="style1"> ${{ amount|floatformat:2 }} </p>
            </div>
          </div>
        {% endfor %}

        <!-- dividing line -->
        <div class="row half">
          <div class="3u">
            <p></p>
          </div>
          <div class="6u">
            <hr />
          </div>
        </div>
      {% endif %}

      <!-- list total -->
      <div class="row half">
        <div class="3u">
          <p></p>
        </div>
        <div class="3u">
          <p class="style1"> <strong>Total:</strong> </p>
        </div>
        <div class="3u">
          <p class="style1"> <strong>${{ user_total|floatformat:2 }}</strong> </p>
        </div>
      </div>
    </div>
</section>
{% endblock %}
