<ol>
  <li class="left lead grey">All volunteer hours will be recorded honestly and accurately.</li>
  
  <li class="left lead grey">All volunteer hours recorded in openCurrents are public data.</li>
          
  <li class="left lead grey">Any organization deemed to be recording false volunteer hours may lose its privilege to issue Currents to volunteers and may have any and all issued Currents rescinded.</li>
            
  <li class="left lead grey">These Ground Rules may change at any time, and we will notify you by email if they do.</li>
</ol>