<header id="header" class="full-width" canvas>
  <div class="row full-width">
    <div id="header-logo" class="small-10 medium-8 medium-offset-1 columns">
      <%= link_to "login" do %><%= image_tag image_url("header-white.png"), :class => "home-logo", :size => "300x60" %><% end %>
    </div>
    
    <div id="header-menu" class="small-2 medium-offset-1 medium-2 columns right end">
        <a class="aqua toggle-menu"><i class="fa fa-lg fa-bars"></i></a>
    </div>
  </div>
</header>