<a class="list-group-item" href="">
  <i class="fa-fw fa fa-user"></i>
  My account
</a>

<a class="list-group-item" href="">
  <i class="fa-fw fa fa-heartbeat"></i>
  Enroll your nonprofit
</a>

<a class="list-group-item" href="">
  <i class="fa-fw fa fa-gears"></i>
  How it works
</a>

<a class="list-group-item" href="">
  <i class="fa-fw fa fa-star"></i>
  Our values
</a>

<a class="list-group-item" href="">
  <i class="fa-fw fa fa-sign-out"></i>
  Log out
</a>