<!-- <head> in views/layouts/application.html.erb -->

  </head>
  
  <body> 
    <%= render 'header' %>
    
    <div id="container" class="js-close-any" canvas="container">
      <div id="wrapper">
        <div class="row">
            <h3 class="title">openCurrents Ground Rules</h3>
        </div>
        
        <div class="row one-margin-bottom left">
          <div class="small-12 medium-9 small-centered columns">
            <div class="checkbox large">
              <label class="left lead" for="ground-rule-1"><input type="checkbox" value="ground-rule-1" id="ground-rule-1"/>I guarantee that (Organization name) will record volunteer hours honestly and accurately.</label>
            </div>
          
            <div class="checkbox large">  
              <label class="left lead" for="ground-rule-2"><input type="checkbox" value="ground-rule-2" id="ground-rule-2"/>I understand that all volunteer hours recorded in openCurrents are public data.</label>
            </div>
            
            <div class="checkbox large">
              <label class="left lead" for="ground-rule-3"><input type="checkbox" value="ground-rule-3" id="ground-rule-3"/>I understand that any organization deemed to be recording false volunteer hours may lose its privilege to issue Currents to volunteers and may have any and all issued Currents rescinded.</label>
            </div>
            
            
            <div class="checkbox large">
              <label class="left lead" for="ground-rule-4"><input type="checkbox" value="ground-rule-4" id="ground-rule-4"/>I understand that these Ground Rules may change and that I will be notified by email anytime they do.</label>
            </div>
          </div>
        </div>
        
        <div class="row">
          <input type="submit" class="button round large" value="Activate organization account"/>
        </div>
        
      <div id="push"></div>
    
      <!-- wrapper div-->
      </div>
      
      <%= render "footer" %>
      
    <!--container div -->
    </div>
    
    <div id="bottom-stripe" class="full-width"></div>
    
    <div off-canvas="menu right shift" id="menu">
      <%= render 'menu' %>
    </div>
  
    <div id="-popup" class="modal center small-12 medium-9 large-7 small-centered columns">
      <div class="row">
        <div class="center small-centered medium-10 columns">
          <h3 class="one-margin-bottom"></h3>
          
          <p></p>
          
          <button class="tax-id-popup_close button round">Okay</button>
          <a><button class="button round secondary"></button></a>
        </div>
      </div>
    </div>
    
    
    <script type="text/javascript">
      $(document).ready(function(){
        $('#change-email').popup({
          vertical: 'top',
          transition: 'all 0.75s',
          scrolllock: true,
        });
      });
    </script>
    
    <script>
      ( function ( $ ) {
        // Initialize Slidebars
        var controller = new slidebars();
        controller.init();
      } ) ( jQuery );
    </script>

    <script>
      // Initialize Slidebars
      var controller = new slidebars();
      controller.init();

      // Toggle Slidebars
      $( '.toggle-menu' ).on( 'click', function ( event ) {
        // Stop default action and bubbling
        event.stopPropagation();
        event.preventDefault();

        // Toggle the Slidebar with id 'id-1'
        controller.toggle( 'menu' );
        
        // Close any
        $( document ).on( 'click', '.js-close-any', function ( event ) {
          if ( controller.getActiveSlidebar() ) {
            event.preventDefault();
            event.stopPropagation();
            controller.close();
          }
        } );
      } );
    </script>
  </body>
</html>