<!-- <head> in views/layouts/application.html.erb -->

  </head>
  
  <body id="home">
    <div id="home1">
      <div class="row center">
        <div class="one-margin-top small-centered small-11 medium-9 columns">
          <%= image_tag image_url("oc-header.png"), :class => "home-logo", :size => "650x130" %>
        </div>
      </div>
      
      <div class="row">
        <div class="center small-centered medium-10 columns">
          <div class="hide-for-small-only">
            <h1 id="home-title" class="white">Give time, create currency.</h1>
            <h4 class="left white one-margin-bottom">openCurrents is an alternative currency. Create and earn 1 Current for each hour you donate to a nonprofit or social business. Underpaid staff can also be compensated to an equivalent of $10 an hour.</h4>
            
            <h4 class="left white two-margin-bottom">Once created, Currents can be exchanged at any rate. When millions of volunteers all over the world are rewarded for their service, we will suddenly have a viable alternative to Old Money. Are you ready?</h4>
          </div>
          
          <div class="show-for-small-only">
            <h3 id="home-title" class="white show-for-small-only">Give time, create currency.</h3>
            <h6 class="left white one-margin-bottom">openCurrents is an alternative currency. Create and earn 1 Current for each hour you donate to a nonprofit or social business. Underpaid staff can also be compensated to an equivalent of $10 an hour.</h6>
            
            <h6 class="left white two-margin-bottom">Once created, Currents can be exchanged at any rate. When millions of volunteers all over the world are rewarded for their service, we will suddenly have a viable alternative to Old Money. Are you ready?</h6>
            
          </div>          
        </div>
      </div>
      <div class="row">
        <div class="one-margin-bottom center small-centered medium-8 columns">
          <a class="signup-box_open"><button class="button large round hide-for-small-only">Yes, I want a new way to get paid</button></a>
          <a class="signup-box_open"><button class="button round show-for-small-only">Yes, I want a new way to get paid</button></a>
          <a class="white-caret white lead" href="#hr-snap"><p class="no-margin-bottom">Why do we need this?</p>
          <i class="fa fa-2x fa-angle-down"></i></a>
        </div>
      </div>
    </div>
    
    <hr id="hr-snap" class="full-width snap no-margin-top no-margin-bottom">
    
    <div id="home2">
      <div id="header-sticky-wrapper" class="row full-width sticky-wrapper">
        <div id="header-logo" class="small-9 medium-8 medium-offset-1 columns">
          <%= image_tag image_url("header-white.png"), :class => "home-logo", :size => "300x60" %>
        </div>
        
        <div id="header-menu" class="small-offset-1 small-2 medium-2 columns right end">
            <a class="aqua signup-box_open"><i class="fa fa-lg fa-user-plus"></i></a>
        </div>
      </div>
      
      <div class="row">
        <h3 class="title">What's wrong with Old Money?</h3>
      </div>
      
      <div class="row">
        <div class="small-11 medium-10 small-centered columns">
          <p class="lead">The traditional money system has serious issues. Until we have a true alternative, the world's currencies will continue to get worse at their only job: helping people exchange.</p>
          
          <p class="lead">Its biggest problem? Debt. As the world's debt spirals out of control, money becomes less and less available to more and more people.</p>
          
          <div class="thumb-wrapper"><a class="play-intro_open"><div class="thumb-box">
          <svg id="play-button" version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
             width="70px" height="70px" viewBox="0 0 70 70" enable-background="new 0 0 70 70" xml:space="preserve">
          <polygon id="play-poly" points="28,23.119 48.579,35 28,46.881 "/>
          <circle id="play-circle" fill="none" stroke-width="1.9429" stroke-miterlimit="10" cx="35" cy="35" r="34"/>
          </svg></div><span id="video-title">Money Problems<br>(1 min)</span></a></div>
          
          <p class="one-margin-bottom one-margin-top lead">One thing is for certain: this too shall pass. The only question is when. Will we continue to let our economy crumble? Or will we embrace a new solution?</p>
        </div>
      </div>
      
      <div class="center row two-margin-top">
        <div class="small-10 medium-8 small-centered columns">
          <a class="signup-box_open"><button class="button round large hide-for-small-only">I'm ready for a new solution</button></a>
          <a class="signup-box_open"><button class="button round show-for-small-only">I'm ready for a new solution</button></a>
          <a class="lead" href="#home3"><p class="no-margin-bottom">What about Bitcoin?</p>
          <i class="fa fa-2x fa-angle-down"></i></a>
        </div>
      </div>
    </div>
    
    <div id="home3">
      <div class="row full-width header-spacer">
      </div>
      
      <div class="row">
        <div class="small-11 medium-10 small-centered columns">
          <h3 class="title">Bitcoin is a stepping stone</h3>
          <p class="lead">While it has proven that alternative currency can have real value, Bitcoin has limitations that will prevent it from ever becoming a suitable replacement for money as we know it. Bitcoin's method of currency creation, or "mining", is too technical for most people to participate. As a result, wealth is controlled by a relatively small number of people. Sound familiar?</p>
          <p class="lead">Furthermore, since Bitcoin is anonymous, it is less secure than a typical bank account. If your Bitcoin key is stolen, you can't prove that the account belonged to you in the first place.</p>
          <p class="lead">By comparison, openCurrents can be earned by anyone through time and effort given to a cause. Your openCurrents account is connected to your identity to protect you from theft. Sound good?</p>
        </div>
      </div>
      
      <div class="row one-margin-top center">
        <div class="medium-8 small-centered columns">
          <a class="signup-box_open"><button class="button round large hide-for-small-only">Yes, I want openCurrents</button></a>
          <a class="signup-box_open"><button class="button round show-for-small-only">Yes, I want openCurrents</button></a>
          <a class="lead" href="#home4"><p class="no-margin-bottom">How it helps nonprofits</p>
          <i class="fa fa-2x fa-angle-down"></i></a> 
        </div>
      </div>
    </div>
    
    <div id="home4">
      <div class="row full-width header-spacer">
      </div>
      
      <div class="row">
        <div class="small-11 medium-10 small-centered columns">
          <h3 class="title-sub">Nonprofits: It's now free to pay volunteers</h3>
          <h5 class="subtitle">Need we say more?</h5>
          <p class="lead left">Okay, maybe we do. openCurrents gives nonprofits the best volunteer recruiting tool in existence. Plus, it's a way to reward your existing support for their dedicated service.</p>
          <p class="lead left">In return, we ask for two things. First, sign off on your volunteers' hours in our simple time tracker. Second, play by the rules. All openCurrents data will be made public so that the community can verify the legitimacy of all hours recorded.</p>
        </div>
      </div>
      
      <div class="row one-margin-top center">
        <div class="one-margin-bottom medium-8 small-centered columns">
          <a class="signup-box_open"><button class="button round large hide-for-small-only">Yes, I want openCurrents</button></a>
          <a class="signup-box_open"><button class="button round show-for-small-only">Yes, I want openCurrents</button></a>
          <a class="lead" href="#home5"><p class="no-margin-bottom">Our values</p>
          <i class="fa fa-2x fa-angle-down"></i></a>
        </div>
      </div>
    </div>
    
    <div id="home5">
      <div class="row full-width header-spacer">
      </div>
      
      <div class="row">
        <div class="small-11 medium-10 small-centered columns">
          <h3 class="title-sub">Our values</h3>
          <h5 class="subtitle">Here's what we stand for. Will you stand with us?</h5>
          <p><strong>Transparency.</strong> The "open" in openCurrents. Public verification of hours completed and confirmation of identity will help to build trust and ensure a system that works for all of us.</p>
          <p><strong>.</strong> </p>
        </div>
      </div>
      <div class="row center">
        <div class="one-margin-bottom small-centered medium-8 columns">
          <a class="signup-box_open"><button class="button large round hide-for-small-only">Yes, I stand with openCurrents</button></a>
          <a class="signup-box_open"><button class="button round show-for-small-only">Yes, I stand with openCurrents</button></a>
          <a class="lead email-box_open"><p class="no-margin-bottom">I have a question or suggestion<i class="half-margin-left fa fa-angle-right"></i></p></a>
        </div>
      </div>
    </div>
    
    <div id="play-intro" class="modal small-12 medium-9 large-7 small-centered columns">
      <div class="videoWrapper">
        <!--<iframe id="intro-video" width="1280" height="720" src="https://www.youtube.com/embed/U698XPB13-Y?rel=0" allowscriptaccess="always" frameborder="0" allowfullscreen></iframe>-->
      </div>
    </div>
    
    <div id="signup-box" class="modal center small-12 medium-9 large-7 small-centered columns">
      <div class="row center">
        <h2 class="popup-title">Join openCurrents</h2>
      </div>
      
      <div class="row one-margin-top">
        <div class="small-12 medium-9 small-centered columns">    
          <div class="input-left small-6 columns">
          <input type="text" name="first_name" placeholder="First name" tabindex="1" />
          </div>
          
          <div class="input-right small-6 columns">
          <input type="text" name="last_name" placeholder="Last name" tabindex="2" />
          </div>
          <div class="small-12 columns">
          <input type="email" name="email" placeholder="Email address" tabindex="3" />
          </div>
        </div>
      </div>
    
      <div class="row center half-margin-top">
        <a href="./pages/verify-email"><button type="submit" class="button large round">Create account</button></a>
      </div>
    </div>
    
    <div id="email-box" class="modal center small-12 medium-9 large-7 small-centered columns">
      <div class="row">
        <div class="center small-centered medium-10 columns">
          <h3 class="popup-title">Speak your mind</h3>

        </div>
      </div>
    </div>
    
    <%= javascript_include_tag "home" %>
    
    <!--<script type="text/javascript">
      var timeout = 100;
      var timer;
        $(window).scroll(function(event){
          clearTimeout(timer);
          timer = setTimeout(function() {
            $(".header-spacer, .snap").each(function() {
              var scrollTop = $(window).scrollTop();
              var offset = $(this).offset().top;
              if(offset-scrollTop < 200 && offset-scrollTop > -50) {
                $('html,body').animate({scrollTop: $(this).offset().top},'slow');
                return;
              }
            });
          }, timeout);
        });
    </script>-->
    
    <script type="text/javascript">
      $(document).ready(function(){
        var iOS = /iPad|iPhone|iPod/.test(navigator.userAgent) && !window.MSStream;
        
        if (iOS) {
          $('#header-sticky-wrapper').attr('position', 'sticky');
        } else {
          return
        }
      });
    </script>
    
    <script type="text/javascript">
      
      // Sticky Plugin v1.0.0 for jQuery - http://stickyjs.com/
      (function(f){var e={topSpacing:0,bottomSpacing:0,className:"is-sticky",wrapperClassName:"sticky-wrapper",center:false,getWidthFrom:""},b=f(window),d=f(document),i=[],a=b.height(),g=function(){var j=b.scrollTop(),q=d.height(),p=q-a,l=(j>p)?p-j:0;for(var m=0;m<i.length;m++){var r=i[m],k=r.stickyWrapper.offset().top,n=k-r.topSpacing-l;if(j<=n){if(r.currentTop!==null){r.stickyElement.css("position","").css("top","");r.stickyElement.parent().removeClass(r.className);r.currentTop=null}}else{var o=q-r.stickyElement.outerHeight()-r.topSpacing-r.bottomSpacing-j-l;if(o<0){o=o+r.topSpacing}else{o=r.topSpacing}if(r.currentTop!=o){r.stickyElement.css("position","fixed").css("top",o);if(typeof r.getWidthFrom!=="undefined"){r.stickyElement.css("width",f(r.getWidthFrom).width())}r.stickyElement.parent().addClass(r.className);r.currentTop=o}}}},h=function(){a=b.height()},c={init:function(j){var k=f.extend(e,j);return this.each(function(){var l=f(this);var m=l.attr("id");var o=f("<div></div>").attr("id",m+"-sticky-wrapper").addClass(k.wrapperClassName);l.wrapAll(o);if(k.center){l.parent().css({width:l.outerWidth(),marginLeft:"auto",marginRight:"auto"})}if(l.css("float")=="right"){l.css({"float":"none"}).parent().css({"float":"right"})}var n=l.parent();n.css("height",l.outerHeight());i.push({topSpacing:k.topSpacing,bottomSpacing:k.bottomSpacing,stickyElement:l,currentTop:null,stickyWrapper:n,className:k.className,getWidthFrom:k.getWidthFrom})})},update:g};if(window.addEventListener){window.addEventListener("scroll",g,false);window.addEventListener("resize",h,false)}else{if(window.attachEvent){window.attachEvent("onscroll",g);window.attachEvent("onresize",h)}}f.fn.sticky=function(j){if(c[j]){return c[j].apply(this,Array.prototype.slice.call(arguments,1))}else{if(typeof j==="object"||!j){return c.init.apply(this,arguments)}else{f.error("Method "+j+" does not exist on jQuery.sticky")}}};f(function(){setTimeout(g,0)})})(jQuery);

      // Fire Sticky
      $(function(){
        $("#header-sticky-wrapper").sticky({topSpacing:0});
      });
      
      $(document).ready(function(){
        
        $('#play-intro').popup({
          vertical: 'top',
          transition: 'all 0.75s',
          scrolllock: false,
          onclose: function() {
            var vid = jQuery('.videoWrapper iframe[src*="youtube"]');
            if ( vid.length > 0 ){
              var src = vid.attr('src');
                vid.attr('src', '');
                vid.attr('src', src);
            }
          }
        });
        
        $('#signup-box, #email-box').popup({
          vertical: 'top',
          transition: 'all 0.75s',
          scrolllock: false,
        });
      });
    </script>
    
    <%= render "end_scripts" %>
  </body>