<!-- <head> in views/layouts/application.html.erb -->

  </head>
  
  <body id="home">
    <div id="home1">
      <div class="row center">
        <div class="small-centered medium-10 columns three-margin-top one-margin-bottom">
          <header class=“large-header”>
            <%= image_tag image_url("oc-header.png"), :class => "home-logo", :size => "750x150" %>
          </header>
        </div>
      </div>
      
      <div class="row">
        <div class="center three-margin-bottom small-centered medium-11 columns">
          <h2 id="home-title" class="white hide-for-small-only">It's time for a viable alternative to money.<br>
          Are you ready?</h2>
          <h3 id="home-title" class="white show-for-small-only">It's time for a viable alternative to money.<br/>
          Are you ready?</h3>
        </div>
      </div>
      <div class="row">
        <div class="one-margin-bottom center small-centered medium-8 columns">
          <a class="signup-box_open"><button class="button large round hide-for-small-only">Yes, I want a new way to get paid</button></a>
          <a class="signup-box_open"><button class="button round show-for-small-only">Yes, I want a new way to get paid</button></a>
          <a class="white-caret white lead" href="#home2"><p class="no-margin-bottom">Learn more</p>
          <i class="fa fa-2x fa-angle-down"></i></a>
        </div>
      </div>
    </div>
    
    <div id="home2">
      <div id="header" class="row full-width">
        <div id="header-logo" class="small-9 medium-8 medium-offset-1 columns">
          <%= image_tag image_url("header-white.png"), :class => "home-logo", :size => "300x60" %>
        </div>
        
        <div id="header-menu" class="small-offset-1 small-2 medium-2 columns right end">
            <a class="aqua toggle-menu"><i class="fa fa-lg fa-bars"></i></a>
        </div>
      </div>
      
      <div class="center row two-margin-top one-margin-bottom">
        <div class="small-10 medium-8 small-centered columns">
          <a class="signup-box_open"><button class="button round large secondary hide-for-small-only">I'm ready for a new solution</button></a>
          <a class="signup-box_open"><button class="button round secondary show-for-small-only">I'm ready for a new solution</button></a>
          <a class="lead blue-caret" href="#home3"><p class="no-margin-bottom">What about Bitcoin?</p>
          <i class="fa fa-2x fa-angle-down"></i></a>
        </div>
      </div>
    </div>
    
    <div id="home3">
      <div class="row">
        <div class="small-11 medium-10 small-centered columns">
          <h3 class="title white">Bitcoin is a stepping stone</h3>
          <p class="lead white">While it has proven that alternative currency can have real value, Bitcoin has limitations that will prevent it from ever becoming a suitable replacement for money as we know it. Bitcoin's method of currency creation, or "mining", is too technical for most people to participate. As a result, wealth is controlled by a relatively small number of people. Sound familiar?</p>
          <p class="lead white">Furthermore, since Bitcoin is anonymous, it is less secure than a typical bank account. If your Bitcoin key is stolen, you can't prove that the account belonged to you in the first place.</p>
          <p class="lead white">By comparison, openCurrents can be earned by anyone through time and effort given to a cause. Your openCurrents account is connected to your identity to protect you from theft. Sound good?</p>
        </div>
      </div>
      
      <div class="row one-margin-top one-margin-bottom center">
        <div class="one-margin-bottom medium-8 small-centered columns">
          <a class="signup-box_open"><button class="button round large hide-for-small-only">Yes, I want openCurrents</button></a>
          <a class="signup-box_open"><button class="button round show-for-small-only">Yes, I want openCurrents</button></a>
          <a class="white-caret white lead" href="#home4"><p class="no-margin-bottom">How it helps nonprofits</p>
          <i class="fa fa-2x fa-angle-down"></i></a> 
        </div>
      </div>
    </div>
    
    <div id="home4">
      <div class="row">
        <div class="small-11 medium-10 small-centered columns">
          <h3 class="two-margin-top center">Nonprofits: It's now free to pay volunteers</h3>
          <h4 class="center">Need we say more?</h4>
          <p class="lead left">Okay, maybe we do. openCurrents gives nonprofits the best volunteer recruiting tool around. Plus, reward your existing support for their dedicated service.</p>
          <p class="lead left">In return, we ask for two things. First, sign off on your volunteers' hours in our simple time tracker. Second, play by the rules. All openCurrents data will be made public so that the community can verify the legitimacy of all hours recorded.</p>
        </div>
      </div>
      
      <div class="row one-margin-top one-margin-bottom center">
        <div class="one-margin-bottom medium-8 small-centered columns">
          <a class="signup-box_open"><button class="button round secondary large hide-for-small-only">Yes, I want openCurrents</button></a>
          <a class="signup-box_open"><button class="button round secondary show-for-small-only">Yes, I want openCurrents</button></a>
          <a class="lead blue-caret" href="#home5"><p class="no-margin-bottom">Our values</p>
          <i class="fa fa-2x fa-angle-down"></i></a>
        </div>
      </div>
    </div>
    
    <div id="home5">
      <div class="row">
        <div class="small-11 medium-10 small-centered columns">
          <h3 class="title white">Our values</h3>
          <p class="center lead">Here's what we stand for. Will you stand with us?</p>
          <p class="white"><strong>Transparency.</strong> In order for anyone to value this currency, we must foster trust. Public verification of hours completed and confirmation of identity will help ensure a system that works for all of us.</p>
          <p class="white"><strong>.</strong> </p>
        </div>
      </div>
      <div class="row center">
        <div class="one-margin-bottom medium-8 small-centered columns">
          <a class="lead white-caret white email-box_open"><p class="no-margin-bottom">I have a question or suggestion<i class="half-margin-left fa fa-angle-right"></i></p></a>
        </div>
      </div>
    </div>
    
    <div id="play-intro" class="modal small-12 medium-9 large-7 small-centered columns">
      <div class="videoWrapper">
        <!--<iframe id="intro-video" width="1280" height="720" src="https://www.youtube.com/embed/U698XPB13-Y?rel=0" allowscriptaccess="always" frameborder="0" allowfullscreen></iframe>-->
      </div>
    </div>
    
    <div id="signup-box" class="modal center small-12 medium-9 large-7 small-centered columns">
      <div class="row center">
        <h2>Join openCurrents</h2>
      </div>
      
      <div class="row one-margin-top">
        <div class="small-12 medium-9 small-centered columns">    
          <div class="input-left small-6 columns">
          <input type="text" name="first_name" placeholder="First name" tabindex="1" />
          </div>
          
          <div class="input-right small-6 columns">
          <input type="text" name="last_name" placeholder="Last name" tabindex="2" />
          </div>
          <div class="small-12 columns">
          <input type="email" name="email" placeholder="Email address" tabindex="3" />
          </div>
        </div>
      </div>
    
      <div class="row center half-margin-top">
        <a href="./pages/verify"><button type="submit" class="button large round">Create account</button></a>
      </div>
    </div>
    
    <div id="email-box" class="modal center small-12 medium-9 large-7 small-centered columns">
      <div class="row">
        <div class="center small-centered medium-10 columns">
          <h3 class="one-margin-bottom">Speak your mind</h3>

        </div>
      </div>
    </div>
    
    <%= javascript_include_tag "home" %>

    
    <script type="text/javascript">
      $(document).ready(function(){
        
        $('#play-intro').popup({
          vertical: 'top',
          transition: 'all 0.75s',
          scrolllock: true,
          onclose: function() {
            var vid = jQuery('.videoWrapper iframe[src*="youtube"]');
            if ( vid.length > 0 ){
              var src = vid.attr('src');
                vid.attr('src', '');
                vid.attr('src', src);
            }
          }
        });
        
        $('#signup-box, #email-box').popup({
          vertical: 'top',
          transition: 'all 0.75s',
          scrolllock: true,
        });
      });
    </script>
    
    <%= render "end_scripts" %>
  </body>    
