<!-- <head> in views/layouts/application.html.erb -->

  </head>
  
  <body> 
    <%= render 'header' %>
    
    <div id="container" class="js-close-any" canvas="container">
      <div id="wrapper">
      
        <!-- If org-type = unregistered, direct to ? 
        If org-type = nonprofit || business && org-user-type = leader, direct to /ground-rules. If org-type = nonprofit || business && org-user-type = employee, direct to /tell-your-boss -->
        <form id="org-signup-form">
          <div class="row">
            <h2 class="title">Organization signup</h2>
          </div>
          
          <div id="org-signup-1">
            <div class="row half-margin-bottom center">
              <div class="small-12 medium-6 small-centered columns">
                <input type="text" class="center" name="org-name" placeholder="Organization name"/>
              </div>
            </div>
            
            <div class="row">
              <div class="medium-8 small-centered columns">
                <div class="no-margin-bottom">
                  <span>I am</span>
                  
                  <select id="org-user-type">
                    <option value="employee">employed by</option>
                    <option value="leader">the leader of</option>
                    <option value="volunteer">a volunteer for</option>
                    <option value="unaffiliated">unaffiliated with</option>
                  </select>
                  
                  <span class="inline">this organization.</span>
                </div>
              </div>
            </div>
            
            <div id="org-causes" class="row half-margin-top">
              <div class="medium-8 small-centered columns">
                <h4 class="subtitle">This organization cares most about:</h4>
                <input type="radio" id="org-cause-1" name="org-cause-[]" value="" class="hidden"/>
                  <label for="org-cause-1" class="button round secondary small">Equality</label>
                <input type="radio" id="org-cause-2" name="org-cause-[]" value="" class="hidden"/>
                  <label for="org-cause-2" class="button round secondary small">Education</label>
                <input type="radio" id="org-cause-3" name="org-cause-[]" value="" class="hidden"/>
                  <label for="org-cause-3" class="button round secondary small">Nature</label>
                <input type="radio" id="org-cause-4" name="org-cause-[]" value="" class="hidden"/>
                  <label for="org-cause-4" class="button round secondary small">Health</label>
                <input type="radio" id="org-cause-5" name="org-cause-[]" value="" class="hidden"/>
                  <label for="org-cause-5" class="button round secondary small">Innovation</label>

                <div class="inline">
                  <input type="radio" id="org-cause-other" name="org-cause-[]" value="" class="hidden"/>
                    <label for="org-cause-other" class="button round secondary small">Other:</label>
                    <input type="text" id="other-cause" class="inline" />
                </div>
              </div>
            </div> 
            
            <div class="row">
              <div class="relative medium-8 small-centered columns">
                <div id="nominate" class="hidden half-margin-top medium-10 small-centered columns">
                  <label class="one-margin-bottom">An organization account may only be created by an employee or founder. Please nominate this organization instead.</label>
                  <button class="button round">Nominate</button>
                </div>
                
                <div id="org-signup-next" class="one-margin-top">
                  <button class="button round">Next</button>
                </div>              
              </div>
            </div>
          </div>
          
          <!-- Hidden until org-signup-next-2 is clicked -->
          <div id="org-signup-2" class="row hidden">
            <div class="medium-8 small-centered columns"> 
              <div id="org-type-div">
                <span>This organization is</span>
                <select id="org-type">
                  <option value="nonprofit">a registered nonprofit</option>
                  <option value="business">a registered business</option>
                  <option value="unregistered">not registered</option>
                </select>
              </div>
                          
              <div id="org-email-div">
                <span>Organization email:</span><input type="email" id="org-email" class="inline-input half-margin-top no-margin-bottom" placeholder="your-name@organization.org"/>
                <p class="one-margin-top"><a class="no-org-email-popup_open">I don't have an organization email address</a></p>
              </div>
              
              <div id="org-buttons-2" class="row three-halves-margin-top">
                <button id="org-signup-back" class="button round secondary">Back</button>
                <button id="org-signup-next-2" class="button round">Next</button>
              </div>
            </div>
          </div>
          
          <!-- Hidden until org-signup-next-2 clicked -->
          <div id="org-signup-3" class="row hidden">
            <div class="medium-8 large-7 small-centered columns">
              
              <div id="tax-id-div" class="one-margin-bottom">
                <span>Tax ID (optional):</span>
                <input type="text" id="tax-id" class="inline-input no-margin-bottom" placeholder="12-3456789"/>
                <label class="inline-input"><a class="no-tax-id-popup_open">I don't know this</a></label>
              </div>
              
              <div id="org-checks" class="row">
                <div id="registered-check" class="checkbox">
                  <label class="left" for="tax-id-check"><input type="checkbox" value="tax-id-check" id="tax-id-check" class="" />I understand that organizations without a Tax ID may exchange goods and services with openCurrents, but they cannot issue currency to volunteers. <a class="tax-id-popup_open">Why?</a></label>
                </div>
                
                <div id="leader-check" class="checkbox">
                  <label class="left" for="leader-approval"><input type="checkbox" value="leader-approval" id="leader-approval" />
                  I understand that the lead decision-maker of this organization must agree to the <a class="ground-rules-popup_open">openCurrents Ground Rules</a> before this account is active.</label>
                </div>
              </div>
              
              <div class="row one-margin-top">
                <button id="org-signup-back-2" class="button round secondary">Back</button>
                <input id="org-create" type="submit" class="button round" value="Create account"/>
              </div> 
            </div>
          </div>
        </form>
        
        <div id="push"></div>
      </div>
      
      <%= render "footer" %>
      
    </div>
    
    <div id="bottom-stripe" class="full-width"></div>
    
    <div off-canvas="menu right shift" id="menu">
      <%= render 'menu' %>
    </div>
    
    <div id="tax-id-popup" class="modal center small-12 medium-9 large-7 small-centered columns">
      <div class="row">
        <div class="center small-centered columns">
          <h3 class="popup-title">Why do I need a Tax ID?</h3>
          <p class="left three-halves-margin-bottom">In order to ensure transparency and accountability of the currency creation process, an organization is required to provide a Tax ID in order to issue Currents to volunteers.</p>
          <p class="left">However, anyone may offer goods or services in exchange for Currents. An Organization account will allow you to promote your offering in the openCurrents Marketplace.</p> 
          <button class="tax-id-popup_close button round">Okay</button>
        </div>
      </div>
    </div>
    
    <div id="ground-rules-popup" class="modal center small-12 medium-9 large-7 small-centered columns">
      <div class="row">
        <div class="center small-centered columns">
          <h3 class="popup-title">openCurrents Ground Rules</h3>
          
          <%= render "ground_rules" %>
        </div>
      </div>
      
      <div class="row center">
        <button class="ground-rules-popup_close button round">Close</button>
      </div>
    </div>
    
    <div id="no-tax-id-popup" class="modal center small-12 medium-9 large-7 small-centered columns">
      <h3 class="popup-title">Unknown Tax ID</h3>
      <p></p>
      
    </div>
    
    <div id="no-org-email-popup" class="modal center small-12 medium-9 large-7 small-centered columns">
      <h3 class="popup-title">No organization email</h3>
      <p></p>
      
    </div>

    
    <script type="text/javascript">
      $(document).ready(function(){
        
        $("#org-user-type").change(function() {
          var id = $(this).val();
          if (id == "employee") {
            $("#nominate").hide();
            $("#leader-check").show();
            $("#org-signup-next").show();
            $("#org-causes").show();
          } else if ( id == "leader") {
            $("#nominate").hide();
            $("#leader-check").show();
            $("#org-signup-next").show();
            $("#org-causes").show();
            $("#leader-check").hide();
          }
          else {
            $("#org-signup-next").hide();
            $("#org-causes").hide();
            $("#nominate").show();
          }
        });
        
        $("#org-type").change(function() {
          var id = $(this).val();
          if (id == "unregistered") {
            $("#tax-id-div").hide();
            $("#org-email-div").hide();
            $("#registered-check").detach().insertAfter('#org-type-div');
            $("#org-signup-next-2").hide();
            $("#org-create").detach().appendTo("#org-buttons-2");
          }
          else {
            $("#tax-id-div").show();
            $("#org-email-div").show();
            $("#registered-check").detach().prependTo('#org-checks');
            $("#org-signup-next-2").show();
            $("#org-create").detach().insertAfter("#org-signup-back-2");
          }
        });
        
        $("#org-signup-next").click(function() {
          $("#org-signup-1").hide();
          $("#org-signup-2").show();
          return false;
        });
        
        $("#org-signup-back").click(function() {
          $("#org-signup-2").hide();
          $("#org-signup-1").show();
          return false;
        });
        
        $("#org-signup-next-2").click(function() {
          $("#org-signup-2").hide();
          $("#org-signup-3").show();
          return false;
        });
        
        $("#org-signup-back-2").click(function() {
          $("#org-signup-3").hide();
          $("#org-signup-2").show();
          return false;
        });
        
        $('#tax-id-popup, #no-tax-id-popup, #no-org-email-popup, #ground-rules-popup').popup({
          vertical: 'top',
          transition: 'all 0.75s',
          scrolllock: true,
        });
      });
    </script>
    
    <script type="text/javascript">
      $(document).ready(function(){
        $("#other-cause").click(function() {
          $("#org-cause-other").prop("checked", true);
        });
        
        $("#org-cause-other").click(function(){
          $("#other-cause").focus();
        });
      });
    </script>
    
    <script>
      ( function ( $ ) {
        // Initialize Slidebars
        var controller = new slidebars();
        controller.init();
      } ) ( jQuery );
    </script>

    <script>
      // Initialize Slidebars
      var controller = new slidebars();
      controller.init();

      // Toggle Slidebars
      $( '.toggle-menu' ).on( 'click', function ( event ) {
        // Stop default action and bubbling
        event.stopPropagation();
        event.preventDefault();

        // Toggle the Slidebar with id 'id-1'
        controller.toggle( 'menu' );
        
        // Close any
        $( document ).on( 'click', '.js-close-any', function ( event ) {
          if ( controller.getActiveSlidebar() ) {
            event.preventDefault();
            event.stopPropagation();
            controller.close();
          }
        } );
      } );
    </script>
  </body>
</html>